* {
	outline: none !important;
	color: black;

	&:focus {
		outline: none !important;
	}
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}
}

body{
    margin: 0px;
	font-family: $lato;
}

header{

	nav{
		box-shadow: 2px 1px 3px rgba(0,0,0,0.3);

		span.logo{
			font-weight: bold;
			font-size: 40px;
			font-family: $lato;
			user-select: none;
			pointer-events: none;
			
			&.first-part{
				color: $maincolour;
				margin-right: -4px;
			}

			&.second-part{
				color: $accentcolour;
			}
		}

		.searchbar{
			font-size: 20px;
			padding: 5px 30px;
			border-radius: 5px;
			box-shadow: none;
			background: white;
			border: 1px solid $tertiarycolour;
			color: darken($tertiarycolour,30);
			width: 80%;
		}

		ul.menu{
			list-style-type: none;
			padding: 0px 20px;
			margin: 0px;

			li{
				display: inline-block;
				padding: 20px;
				vertical-align: middle;
				width: 30%;

				&.search{
					width: 40%;
					text-align: center;
				}
			}
		}
	}
}

main{
	padding: 10px 7em;

	h1{
		color: #545454;
		font-family: $arsenal;
		font-size: 36px;
	}

	.no-query{
		padding: 60px;
		margin-top: 60px;
		text-align: center;
		font-size: 60px;
		text-transform: uppercase;
		font-weight: 600;
		color: transparent;
		background: #d4d4d4;
		text-shadow: 0px 2px 3px $tertiarycolour;
		-webkit-background-clip: text;
		background-clip: text;
		user-select: none;
		pointer-events: none;
	}

	#themap{
		height: 400px;
	}

	.list-of-place{
		list-style-type: none;
		padding: 0px;
		font-size: 0px;
		margin-bottom: 40px;
		text-align: center;

		.more{
			content: "More";
			display: block;
			background: #f5f5f5;
			min-height: 10px;
			font-size: 16px;
			padding: 10px;
			margin-top: 20px;

			span{
				color:  $maincolour;
				text-transform: uppercase;
				cursor: pointer;
				font-weight: bold;
			}

			&:hover{
				
				span{
					text-decoration: underline;
				}
			}
		}

		&.expanded{

			.more{
				
				span{
					display: none;
				}

				&::before{
					content: "LESS";
					color: $maincolour;
					font-weight: bold;
					cursor: pointer;
				}

				&:hover{

					&::before{
						text-decoration: underline;
					}
				}
			}

			li:nth-of-type(n+9){
				display: inline-block;
			}
		}

		li{
			width: calc(20% - 20px);
			height: 150px;
			margin: 10px;
			font-size: 16px;
			display: inline-block;
			vertical-align: top;
			box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
			text-align: left;
			cursor: pointer;
			position: relative;
			box-sizing: content-box;
			overflow: hidden;
			background: #A6EBC7;

			&:hover{

				h1.title{
					max-height: 150px;
				}
			}

			h1.title{
				font-size: 18px;
				text-transform: uppercase;
				position: absolute;
				bottom: 0px;
				left: 0px;
				margin: 0px;
				padding: 10px;
				overflow: hidden;
				line-height: 20px;
				max-height: 20px;
				background: rgba(0,0,0,0.8);
				color: white;
				display: block;
				width: calc(100% - 20px);
				transition: all 0.5s ease-in-out;
			}

			img.backImage{
				height: 100%;
				border: none !important;
				
				&.portrait{
					width: 100%;
					height: auto;
				}
			}

			&:nth-of-type(n+9){
				display: none;
			}

			// cicadas random
			&:nth-of-type(n+2){
				background: #C8B8A8;
			}

			&:nth-of-type(2n+3){
				background: #FDF6E5;
			}

			&:nth-of-type(3n+5){
				background: #F0A2B2;
			}

			&:nth-of-type(5n+7){
				background: #9ABBEB;
			}

			&:nth-of-type(7n+11){
				background: #5BAE81;
			}
		}
	}

	.content{
		display: inline-block;
		width: 100%;
		vertical-align: top;

		&.accommodate{
			width: calc(70% - 20px);
		}
	}

	.accommodation{
		display: inline-block;
		width: 30%;
		max-width: 0px;
		margin-left: 10px;
		vertical-align: top;
		padding: 20px;
		transition: all 0.5s ease-out;
		overflow-x: hidden;
		opacity: 0;
		height: 0px;

		&.accommodate{
			max-width: calc(30% - 40px);
			opacity: 1;
			border-left: 2px solid rgba(0,0,0,0.05);
			height: calc(100vh - 155px);
		}

		.title{
			text-transform: uppercase;
			padding: 20px;
			background: $accentcolour;
			color: white;
		}

		#to{
			text-transform: capitalize;
		}

		.flights{
			border-bottom: 1px solid #F5F5F5;

			.flights-dates{

				.date{
					display: inline-block;
					width: 50%;
					margin-right: -5px;
					vertical-align: top;

					h4,h5{
						margin: 0px;
					}
				}
			}

			.flights-price{

				h1{
					color: white;
					background: $maincolour;
					text-align: center;
					padding: 5px;
					margin: 10px 0px;

					&:hover{
						background: darken($maincolour,20);
						text-decoration: underline;
					}
				}
			}

			.direct{
				color: darken(#69D2E7,20);
				margin: 10px 0px;
			}
		}
	}
}