@import url("https://fonts.googleapis.com/css?family=Arsenal:400,400i,700|Lato:300,400,400i,700");
* {
  outline: none !important;
  color: black; }
  *:focus {
    outline: none !important; }

a {
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    text-decoration: none; }

body {
  margin: 0px;
  font-family: "Lato", sans-serif; }

header nav {
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3); }
  header nav span.logo {
    font-weight: bold;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; }
    header nav span.logo.first-part {
      color: #FA6900;
      margin-right: -4px; }
    header nav span.logo.second-part {
      color: #69D2E7; }
  header nav .searchbar {
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    box-shadow: none;
    background: white;
    border: 1px solid #E0E4CC;
    color: #a3af68;
    width: 80%; }
  header nav ul.menu {
    list-style-type: none;
    padding: 0px 20px;
    margin: 0px; }
    header nav ul.menu li {
      display: inline-block;
      padding: 20px;
      vertical-align: middle;
      width: 30%; }
      header nav ul.menu li.search {
        width: 40%;
        text-align: center; }

main {
  padding: 10px 7em; }
  main h1 {
    color: #545454;
    font-family: "Arsenal", sans-serif;
    font-size: 36px; }
  main .no-query {
    padding: 60px;
    margin-top: 60px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    color: transparent;
    background: #d4d4d4;
    text-shadow: 0px 2px 3px #E0E4CC;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; }
  main #themap {
    height: 400px; }
  main .list-of-place {
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    margin-bottom: 40px;
    text-align: center; }
    main .list-of-place .more {
      content: "More";
      display: block;
      background: #f5f5f5;
      min-height: 10px;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px; }
      main .list-of-place .more span {
        color: #FA6900;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold; }
      main .list-of-place .more:hover span {
        text-decoration: underline; }
    main .list-of-place.expanded .more span {
      display: none; }
    main .list-of-place.expanded .more::before {
      content: "LESS";
      color: #FA6900;
      font-weight: bold;
      cursor: pointer; }
    main .list-of-place.expanded .more:hover::before {
      text-decoration: underline; }
    main .list-of-place.expanded li:nth-of-type(n+9) {
      display: inline-block; }
    main .list-of-place li {
      width: calc(20% - 20px);
      height: 150px;
      margin: 10px;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      text-align: left;
      cursor: pointer;
      position: relative;
      box-sizing: content-box;
      overflow: hidden;
      background: #A6EBC7; }
      main .list-of-place li:hover h1.title {
        max-height: 150px; }
      main .list-of-place li h1.title {
        font-size: 18px;
        text-transform: uppercase;
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: 0px;
        padding: 10px;
        overflow: hidden;
        line-height: 20px;
        max-height: 20px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        display: block;
        width: calc(100% - 20px);
        transition: all 0.5s ease-in-out; }
      main .list-of-place li img.backImage {
        width: 100%;
        border: none !important; }
        main .list-of-place li img.backImage.portrait {
          height: 100%;
          width: auto; }
      main .list-of-place li:nth-of-type(n+9) {
        display: none; }
      main .list-of-place li:nth-of-type(n+2) {
        background: #C8B8A8; }
      main .list-of-place li:nth-of-type(2n+3) {
        background: #FDF6E5; }
      main .list-of-place li:nth-of-type(3n+5) {
        background: #F0A2B2; }
      main .list-of-place li:nth-of-type(5n+7) {
        background: #9ABBEB; }
      main .list-of-place li:nth-of-type(7n+11) {
        background: #5BAE81; }
  main .content {
    display: inline-block;
    width: 100%;
    vertical-align: top; }
    main .content.accommodate {
      width: calc(70% - 20px); }
  main .accommodation {
    display: inline-block;
    width: 30%;
    max-width: 0px;
    margin-left: 10px;
    vertical-align: top;
    padding: 20px;
    transition: all 0.5s ease-out;
    overflow-x: hidden;
    opacity: 0;
    height: 0px; }
    main .accommodation.accommodate {
      max-width: calc(30% - 40px);
      opacity: 1;
      border-left: 2px solid rgba(0, 0, 0, 0.05);
      height: calc(100vh - 155px); }
    main .accommodation .title {
      text-transform: uppercase;
      padding: 20px;
      background: #69D2E7;
      color: white; }
    main .accommodation .flights {
      border-bottom: 1px solid #F5F5F5; }
      main .accommodation .flights .flights-dates .date {
        display: inline-block;
        width: 50%;
        margin-right: -5px;
        vertical-align: top; }
        main .accommodation .flights .flights-dates .date h4, main .accommodation .flights .flights-dates .date h5 {
          margin: 0px; }
      main .accommodation .flights .flights-price h1 {
        color: white;
        background: #FA6900;
        text-align: center;
        padding: 5px;
        margin: 10px 0px; }
        main .accommodation .flights .flights-price h1:hover {
          background: #943e00;
          text-decoration: underline; }
      main .accommodation .flights .direct {
        color: #20adca;
        margin: 10px 0px; }
