// colours

$maincolour: #FA6900;
$maincolour-light: #F38630;

$accentcolour: #69D2E7;
$accentcolour-light: #A7DBD8;

$tertiarycolour: #E0E4CC;


// fonts
$lato: 'Lato', sans-serif;
$arsenal: 'Arsenal', sans-serif;